.arte {
    margin-top:10px;
    border: 1px solid #BBB;
    padding: 1px;
    width: 100%
}
.arte .arte-controls {
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    padding:5px
}
.arte .arte-edit {
    height: auto;
    border: 1px dotted #CCC;
    outline: none;
    padding: 2px;
    max-height:300px;
    min-height:150px;
    overflow:auto;
}

.arte .arte-control {
    position:relative;
    display: inline-block;
    cursor:pointer;
    vertical-align:middle;
    margin-left:5px
}
.arte .arte-control + .arte-control { 
    margin-left:20px
}
.arte .arte-control:hover {
    box-shadow:0 0 10px #767676;
}
