.arte {
    margin-top:10px;
    border: 1px solid #BBB;
    padding: 1px;
    width: 100%
}
.arte .arte-controls {
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    padding:5px
}
.arte .arte-edit {
    height: 175px;
    border: 1px dotted #CCC;
    outline: none;
    padding: 2px
}

.arte .arte-control {
    position:relative;
    display: inline-block;
    cursor:pointer;
    vertical-align:middle;
    margin-left:5px
}
.arte .arte-control + .arte-control { 
    margin-left:20px
}
.arte .arte-control:hover:after {
    background:#e1e1e1;
    content:" ";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
