.arte {
    border: 1px solid #BBB;
    font: 12px Verdana, Arial;
    padding: 1px;
    width: 584px
}
.arte .arte-controls {
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    height: 30px;
    margin-bottom: 1px
}
.arte .arte-edit {
    height: 175px;
    border: 1px dotted #CCC;
    outline: none;
    padding: 2px
}

.arte .arte-control {
}


.arte .arte-controls .arte-control.ac-bold                  { }
.arte .arte-controls .arte-control.ac-italic                { }
.arte .arte-controls .arte-control.ac-underline             { }
.arte .arte-controls .arte-control.ac-strikethrough         { }
.arte .arte-controls .arte-control.ac-insertorderedlist     { }
.arte .arte-controls .arte-control.ac-insertunorderedlist   { }
.arte .arte-controls .arte-control.ac-outdent               { }
.arte .arte-controls .arte-control.ac-indent                { }
.arte .arte-controls .arte-control.ac-justifyleft           { }
.arte .arte-controls .arte-control.ac-justifycenter         { }
.arte .arte-controls .arte-control.ac-justifyright          { }
.arte .arte-controls .arte-control.ac-justifyfull           { }
.arte .arte-controls .arte-control.ac-insertimage           { }
.arte .arte-controls .arte-control.ac-createlink            { }
.arte .arte-controls .arte-control.ac-inserthorizontalrule  { }
.arte .arte-controls .arte-control.ac-blockquote            { }
